<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total_orders">
                <div class="card-header">
                    <h5 class="card-title"> Все заказы </h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"> {{ all }}</h3>
                </div>
            </div>
        </div>
    </div>


        <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="pending_orders">
                <div class="card-header">
                    <h5 class="card-title"> Новые заказы </h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"> {{ new }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="done_orders">
                <div class="card-header">
                    <h5 class="card-title"> Выполненные заказы </h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"> {{ completed }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="cancelled_orders">
                <div class="card-header">
                    <h5 class="card-title"> Отклоненные заказы </h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"> {{ cancelled }}</h3>
                </div>
            </div>
        </div>
    </div>


</div>



